<ion-content  class="pagebg" padding>
  
  <div>

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div>
      <h4 no-margin>
        <ion-text color="light" class="fw700">
          Assets Management
        </ion-text>
      </h4>
    </div>

    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        
          <div padding>
            <ion-button class="btn" size="large" expand="block" routerLink="/login" routerDirection="root">Inventaire</ion-button>
             <ion-button class="btn" size="large" expand="block" routerLink="/scancodeintervention" routerDirection="root">Intervention</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>